body {
    /* font-family: Arial, sans-serif; */
    /* margin: 0; */
    /* background-color: #f4f4f4;  */
    /* color: #333;  */

    height: 100vh;

}

header {
    /* background: #333;  */
    color: #fff;
    padding: 1.5em 0; 
    /* text-align:center; */
  
}

main {
    /* max-width: 800px; */
    margin: 2em auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 12px; 
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

h1 {
    /* margin: 0; */
    /* font-size: 2.5em;  */
}

h2 {
    /* color: #007BFF;  */
    /* border-bottom: 2px solid #eee;  */
    /* padding-bottom: 0.5em;  */
}

p {
    text-align: justify;

}

.colorfooter:hover{
    background-color: #C0C0C0;
    text-decoration-color: #fff;
    border-radius: 5px;
}